body,p,table,li,h1,h2,h3,hr
{
font-family: verdana, arial, sans-serif;
font-size: 95%;
}

strong
{
font-family: verdana, arial, sans-serif;
font-size: 85%;
}

h1.title
{
font-size: 110%;
}

body
{
background-color: #ffffff;
}

a:link {color: navy;}
a:visited {color: firebrick;}
a:active {color: seashell;}
a:hover {color: navy;}

div {
margin:0;
padding:0 .25em 0 0;
}

pre.literal-block, pre.doctest-block {
margin-left: 2em;
margin-right: 2em;
background-color: #ffffff;
border: thin black solid;
padding: 5px;
}
